[submodule "2026_MobileApp_ErynDBT24_Week5/2026_MobileApp_ErynDBT24_Week5/week5"]
	path = 2026_MobileApp_ErynDBT24_Week5/2026_MobileApp_ErynDBT24_Week5/week5
	url = https://github.com/eryncornelius/2026_MobileApp_ErynDBT24
